<Files "addtalk.php">
AuthUserFile C:/xampp/htdocs/seminarwebsite/.htpasswd
AuthName "Add a Talk"
AuthType Basic
require valid-user
</Files>
<Files "talks.xml">
AuthUserFile C:/xampp/htdocs/seminarwebsite/.htpasswd
AuthName "Add a Talk"
AuthType Basic
require valid-user
</Files>