<Files "addtalk.php">
AuthUserFile /www/sites/ma.ic.ac.uk/userdir/jbm18/.htpasswd
AuthName "Add a Talk"
AuthType Basic
require valid-user
</Files>
<Files "talks.xml">
AuthUserFile /www/sites/ma.ic.ac.uk/userdir/jbm18/.htpasswd
AuthName "Add a Talk"
AuthType Basic
require valid-user
</Files>